---
---
<!doctype html>
<html lang="ko">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-72EG8XPTN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-72EG8XPTN7');
</script>
  <meta charset="utf-8">
  <link rel="icon" href="/favicon.ico" sizes="any">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>4 - 소실점 - Jin-in-Seoul</title>
  <link rel="stylesheet" href="../../../assets/style.css?v=046">
</head>
<body>
  <main class="shell">

    {% include header.html %}
    <nav class="contents-nav" aria-label="목차"><a href="/scarecrow-distance/ko/">목차</a></nav>

    <h1>4</h1>
    <section class="prose">
<p>“대호냐?”</p>
<p>대호가 아파트 현관문을 열자 쉰 목소리가 그르렁거렸다.</p>
<p>“밥 먹었어?”</p>
<p>대호는 현관 입구에 쪼그려앉아 신발 끈을 풀며 말했다.</p>
<p>“뭐라고?”</p>
<p>안방에서 나온 노인은 쭈글쭈글한 손으로 벽의 모서리를 짚고 서있었다.</p>
<p>“할매, 밥 먹었냐고?”</p>
<p>“그래그래. 어서 씻어. 할매가 미역국 끓여 놨다.”</p>
<p>노인은 서너 발자국 옆에 있는 주방을 향해 발걸음을 조심스럽게 옮겼다. 노인의 벽에서 손을 떼을 때 유독 누렇게 변색된 벽지의 손자국이 드러났다.</p>
<p>“배달하다가 짬뽕 국물을 흘렸어. 내가 저녁 먹고 세탁기 돌릴 테니 할매는 신경 쓰지 마.”</p>
<p>대호는 옷을 벗어 대충 빨래 바구니에 던져 넣고, 욕실로 들어가며 말했다.</p>
<p>노인은 고개를 잠시 갸웃하더니 가스레인지에 올려둔 냄비에 불을 켰다. 그리고 빨래 바구니를 집어 들더니 주방 뒤쪽 세탁기실로 절뚝거리며 가지고 갔다.</p>
<p>대호는 샤워기에서 따뜻한 물이 나오기를 기다리며 수압을 올렸다. 하지만 따뜻한 물은 좀체 나오지 않았다. 따뜻한 물을 기다리는 동안 대호는 욕실 벽면의 들떠버린 타일 두 장을 손바닥으로 지긋이 눌렀다. 타일은 벽쪽으로 들어가는 듯하더니 손을 떼자 대충 발라놓은 실리콘의 탄성 때문인지 다시 슬그머니 밀려나왔다.</p>
<p>샤워기에서 떨어지는 미지근한 물은 대호의 몸에 닿자마자 식어버렸다. 머리를 감고 몸에 밴 짬뽕 냄새를 씻어 내는 동안 대호는 쉬지 않고 이를 딱딱거렸다. 머리를 두 번이나 감았는데도 짬뽕 냄새가 가시지 않는 듯 대호는 어깨에 코를 박고 킁킁거렸다.</p>
<p>샤워를 마치고 나온 대호는 식탁에 앉지도 않고 미역국을 단번에 들이켰다. 국물과 함께 입속으로 빨려들어간 미역과 고깃덩어리를 우적거리며 대호는 잠시 몸서리를 쳤다. 그리고 국그릇에 미역국을 한사발 가득 퍼 담았다.</p>
<p>“할매, 진짜 올해 안에는 어떻게 해서든 엘리베이터 있는 아파트로 이사 가자. 내가 집주인에게 아까 전화했거든. 새 세입자 구해지고 우리더러 복비만 내래. 그럼 괜찮대. 내가 우리 할매 무릎이 안 좋아서 4층까지 업고 병원 다닌다고 죽는 소리를 했더니 집주인이 아파트 상가에 있는 부동산에 연락해 놓겠다. 집 보러 오는 사람 있으면 집 비우지 말고 깨끗이 청소나 잘 해두래. 내가 올라오기 전에 부동산에 들렀는데 오늘은 문을 안 열었더라. 내가 내일 다시 들러서 이야기해 놓을 테니 할매는 어디 가지 말고 집에 꼭 붙어 있어.”</p>
<p>“뭔 돈이 있다고 갑자기 이사냐?”</p>
<p>“내가 다 알아서 할 테니 걱정 마.”</p>
<p>“그 부동산 사장이란 양반 사기꾼 아냐? 이 집도 올 수리라고 큰소리치더니 뜻뜻한 물도 잘 나오고 보일러도 영 시원치 않잖아. 가을부터 이렇게 웃풍이 심하니 원…….”</p>
<p>“하여간 그건 됐고 이번에는 무조건 엘리베이터 있는 곳으로 갈 거야. 내가 조양동에 있는 열세 평짜리 봐뒀다고. 여기보다 두 평 좁기는 한데 별 차이 없더라. 어차피 할매랑 나랑 둘이서 살 거니까 그 정도가 딱 좋아. 그리고 거긴 보일러도 새 걸로 교체했다고 하더라고. 이번에는 정말 확실하다고.”</p>
<p>대호는 입안에 든 밥알을 튀기며 말했다.</p>
<p>“그래그래. 알았다. 내 강아지.”</p>
<p>“강아지라고 하지 말랬잖아. 나도 이제 주민등록증 나온 어른이라고.”</p>
<p>“그래그래 알았다. 대호야 그런데 화내지 말고 들어?”</p>
<p>“내가 언제 화를 냈다고 그래, 할매는? 뭔 이야긴데?”</p>
<p>“느그 애비가 지금 목포에 있다고 전화왔다.”</p>
<p>대호는 아무 대꾸도 하지 않고 숟가락을 국에 만 밥을 먹었다.</p>
<p>“배가 고장이 나서 목포에서 수리한다고 하는 것 같더라. 내가 집에 좀 들르라고 했더니 배에서 못 나온대. 수리하는 동안 배에서 일할 게 산더미래.”</p>
<p>“그럼 배 고치고 나면 다시 참치 잡으러 돌아가면 되잖아. 집에는 오지도 않을 거면서 왜 전화했대?”</p>
<p>“그게 아니라 혹시 네가 목포에 올 수 있으면 얼굴 한번 보자고 하더라.”</p>
<p>“내가 거길 왜 가? 할매도 참. 목포가 여기서 얼마나 먼 줄 알아? 여기서는 가는 버스도 없고, 열차도 없고, 비행기도 없어. 완전 끝에서 끝이라고.”</p>
<p>“그러니까 화내지 말고 내 말 좀 들어 봐. 느그 애비가 3년 계약이라서 아직 집에 오려면 1년 넘게 남아서 그러니까 니 얼굴 한 번 보자고 그러더라.”</p>
<p>“난 싫어. 그리고 내가 거기 가면 할매는 병원에 어떻게 가고 시장에는 어떻게 가려고. 그리고 부동산에서 집 보러 와서 갑자기 이사 가야 하면 어쩌려고. 지금 하루가 급하다고. 진짜 추워지기 전에 조양동 아파트로 이사 가야 한다고. 내가 이사 가려고 돈도 많이 모아놨다고.”</p>
<p>“그래도…….”</p>
<p>“안 돼. 할매. 그건 절대 안 돼. 저번에도 집에 와서 같이 밥도 한 번 안 먹고 술만 퍼마시더니 얼굴도 안 보고 가버렸잖아. 생활비도 제대로 보내지 않으면서 나더러 목포까지 오라고. 염치도 없어도 어지간해야지.”</p>
<p>대호는 말없이 미역국에 만 밥을 먹었다. 할매도 더 이상 대호를 채근하지 않았다. 저녁식사를 마친 대호는 세탁실에서 마른 걸레 두 장과 바스켓을 챙겨 안방으로 들어갔다. 그리고 안방 창문의 새시에 고여 있는 빗물을 마른 걸레로 흠뻑 적셨다. 대호는 빗물을 머금은 걸레를 바스켓에 넣고 쥐어짰다. 빗물을 모두 제거한 후 대호는 안방 새시를 두 손으로 들어올려 수평을 맞추려 했지만 어림도 없었다. 대호는 잠시 안방 창문을 바라보더니 아무 말없이 한숨을 내쉬고 나서 바스켓을 들고 욕실로 들어갔다. 하수구에 빗물을 버리고 나서 이번에는 빈 바스켓과 걸레를 들고 발코니로 나갔다. 그리고 안방에서 했던 작업을 똑같이 반복했다. 발코니 바닥으로 흘러넘친 빗물까지 모두 치우고 뒷정리를 마치자 밤 8시가 넘었다. 대호는 주방에서 미지근하게 식어버린 미역국을 한그릇 퍼 담아 들이켰다.</p>
    </section>

    {% include footer.html %}
  </main>
</body>
</html>
