---
---
<!doctype html>
<html lang="fr">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-72EG8XPTN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-72EG8XPTN7');
</script>
  <meta charset="utf-8">
  <link rel="icon" href="/favicon.ico" sizes="any">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>3 - Mal reçu - Jin-in-Seoul</title>
  <link rel="stylesheet" href="../../../assets/style.css?v=046">
</head>
<body>
  <main class="shell">

    {% include header.html %}
    <nav class="contents-nav" aria-label="Sommaire"><a href="/scarecrow-distance/fr/">Sommaire</a></nav>

    <h1>3</h1>
    <section class="prose">
<p>Dès qu’il eut traversé le pont Yeongnang, Manson accéléra brusquement. La moto fendit la tempête en prenant la direction du nord. Il n’y avait aucun piéton dans les rues, aucune voiture sur la route. Manson avait l’air d’un petit caillou jeté dans un espace vide. Il fonçait entre les nuages noirs qui arrivaient de la mer de l’Est et les rafales violentes qui dévalaient du Seoraksan. Le bouillon de jjamppong qui imprégnait ses vêtements était emporté par la pluie et le vent. Derrière ses lèvres devenues bleues, ses dents claquaient. Arrivé au pont Cheonggan, Manson ralentit, puis, une fois de l’autre côté, tourna le guidon vers la droite. Le casque posé dans le panier de livraison sur le siège arrière glissa lui aussi vers la droite.</p>
<p>Manson gara la moto dans un coin du parking désert et marcha vers la mer. Il leva le bras droit et le renifla. Peut-être à cause de l’odeur de jjamppong qui imprégnait encore ses vêtements, Manson rassembla ses forces au fond de la gorge et cracha. Quand ses forces le quittèrent, ses dents se remirent à claquer.</p>
<p>Il atteignit le pavillon, mais ne s’abrita pas de la pluie. Il resta là, seul sous la pluie, tournant la tête de droite à gauche pour sentir l’odeur restée sur ses épaules, ou portant un bras à son nez, encore et encore. Le temps quitta le monde physique de la trotteuse et de l’aiguille des minutes et, prisonnier de l’odorat de Manson, ne put plus bouger. Les nuages noirs disparaissaient loin au-dessus de la mer. Le vent violent qui soufflait depuis le Misiryeong avait lui aussi perdu de sa force, et plus aucun son ne sortait de la bouche de Manson.</p>
    </section>

    {% include footer.html %}
  </main>
</body>
</html>
