---
---
<!doctype html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-72EG8XPTN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-72EG8XPTN7');
</script>
  <meta charset="utf-8">
  <link rel="icon" href="/favicon.ico" sizes="any">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Scarecrow Distance - Jin-in-Seoul</title>
  <link rel="stylesheet" href="../../assets/style.css?v=046">
</head>
<body>
  <main class="shell">

    {% include header.html %}
    <h1>Scarecrow Distance</h1>
    <p class="deck">A story about two boys making their way from Sokcho to Mokpo.<br>
      A rough, desolate novel written in the language of abandoned stray dogs.</p>
    <p class="deck"><em>(Work in progress.)</em></p>

    <h2>Contents</h2>
    <section class="work-list">
      <article class="work">
        <h3><a class="work-link" href="chapter-01/">1</a></h3>
      </article>
      <article class="work">
        <h3><a class="work-link" href="chapter-02/">2</a></h3>
      </article>
      <article class="work">
        <h3><a class="work-link" href="chapter-03/">3</a></h3>
      </article>
      <article class="work">
        <h3><a class="work-link" href="chapter-04/">4</a></h3>
      </article>
    </section>

    {% include footer.html %}
  </main>
</body>
</html>
